.achievment-container h1 {
    font-size: 3rem;
    margin-top: 20px;
}

.achivement-main {
    display: grid;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;

}

.achievment-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    padding: 14px;
    margin: 5px;
    border: 1px solid #d5d5d5;

}


.achievment-card p {
    font-size: 1rem;
    animation: fade 2s ease-in-out;
}
@media screen and (max-width:320px) {
    .achievment-container{
        display: none;
    }
}
@media screen and (max-width:380px) {
    .achievment-container{
        display: none;
    }
}
@media screen and (max-width:540px) {
    .achievment-container {
        height: 80vh;
    }
    .achivement-main{
        grid-template-columns: repeat(2,1fr);
    }
   
}

@media screen and (max-width:850px) {
    .achivement-main {
        grid-template-columns: repeat(4, 1fr);
    }
    .achievment-container h1 {
        font-size: 1.6rem;
    }
    .achievment-card  h2{
        font-size: 1rem;
        color: rgb(181, 178, 178);

    }
    .achievment-card  p{
        font-size: .8rem;
        color: rgb(169, 169, 169);

    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}