* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
    margin: 20px 20px;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #333;
}

.contact-form p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;

}

.contact-form i {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 20px;

}

.form-group input,
.form-group textarea {
    border: none;
    background-color: rgb(236, 233, 233);
    padding: 10px;
    margin: 5px;
    width: 100%;
     
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 8px #bbb;
}

#contact-btn {
    display: inline-block;
    padding: 10px 22px;
    background-color: #41B06E;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 0px;
    border: 1px solid #41B06E;
    width: 100%;

}

#contact-btn:hover {
    color: #fff;
    border: 1px solid #000;
    background: #45bf78;
    transition: .3s ease-in-out;
}

.contact-info {
    text-align: left;
    margin: 50px 50px;
}

.contact-info iframe {
    height: 60vh;
    width: 100%;

}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p {
    margin-top: 5px;
    font-size: 19px;
}

.contact-info i {
    font-size: 25px;
    margin: 10px;
}

.contact-info i:hover {
    color: #45bf78;
    transition: .3s ease-in;
}

@media screen and (max-width:850px) {
    .contact-container {
        padding: 20px;
    }

    .contact-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .contact-info p {
        margin-top: 2px;
        font-size: 15px;
    }

    .contact-info i {
        font-size: 20px;
        margin: 8px;
    }
}
/* 
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);

    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
} */