.distination{
    margin: 4rem 6rem;
    animation: fade 2s ease-in-out;
}

.distination h1{
    font-size: 3rem;
    animation: fade 2s ease-in-out;

}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    animation: fade 2s ease-in-out;
}
.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
    animation: fade 2s ease-in-out;
}

.desc-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
    animation: fade 2s ease-in-out;
}
.desc-text h2{
 padding-bottom: 1rem;
 animation: fade 2s ease-in-out;

}
.desc-text p{
 font-size: 13px;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, .19);
    animation: fade 2s ease-in-out;
}
.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
    
}

@media screen and (max-width:850px){
    .distination{
        margin: 4rem 2rem;
    }
    .distination h1{
        font-size: 2rem;
    }
    .desc-text h2{
        font-size: 1.5rem;
       
       }
    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .first-des-reverse{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.5rem;
    }
    .desc-text {
        width: 100%;
    }
    .image{
        width: 100%;
        margin: 1.8rem 0;
    }
    .image img{
        height: 250px;
        
    }
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(-10px);

    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}