

.main-heading{
    font-size: 3rem;
    margin-top: 30px;
}

.selection-cards-main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin-left:80px;
    margin-top: 30px;
    margin-right: 80px;
}
.selection-cards{
    margin-bottom: 30px;
    border: 1px solid #fff;
}
.selection-cards:hover{
    border: 1px solid rgb(220, 217, 217);
    cursor: pointer;
    transition: .3s ease;

}
.selection-cards:hover i{
    animation:shake 500ms ease-in;

}

.selection-icon i{
    font-size: 80px;
    color: #41B06E;
    margin: 20px;
   

}
.selection-card-details{
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}
.selection-card-details p{
   font-size: 13px;
}
.selection-card-details p{
    margin: 20px;
}
@media screen and (max-width:850px){
    .selectcriteria-container{
        display: none;
    }
    
}
@keyframes shake {
    0%    { rotate: 0deg; }
    20%   { rotate: 15deg; }
    80%   { rotate: -15deg; }
    100%  { rotate: 0deg; }
  }
  
  .animate-this-element {
    animation: name-of-animation 5s infinite;
  }